    /*Barra de navegacion*/
.menuBar img{
width: 30px;
height: 30px;
}

.navbar-toggler{
color: #1b1b1b;
border-color: transparent;
transition: all 2s;
}

.navbarColor{
background-color: #111111;
}


#logo{
margin: 0px;
padding: 0px;
height: 50px;
width: 100px;
border-radius: 60px;
object-fit: cover;
object-position: center;
}
#logo:active{
    scale: 0.8;
    transition: all .8s;
}


#carrito{
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: center;
}


#menuBar{
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: center;
}


.barraNav{
justify-content: end;
text-align: center;
padding: 10px;
}


nav{
    background-color: #111111;
}

.estilos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d1d1d1; 
}

.estilos:hover{
    color: #434343
}

.estilos:active{
    color: #434343;
    scale: 0.8;
    transition: all .7s;
}
                                                /*Fin barra de navegacion*/