#estas{
    box-sizing: border-box;
    background-image: url(../../assets/images/Fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    color: #1b1b1b;
}

#titulo{    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 6px 5px #000;
    color: #eeeeee;
}

#titulo::first-letter{
    font-size: 60px;
}














@media (max-width: 700px){
    #titulo{    
        font-size: 40px;
    }
}






@media (max-width: 480px){
    #titulo{    
        font-size: 31px;
    }
}